html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	transition-timing-function: ease-out;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

@include selection {
	color: white;
	background: getcolor(purple);
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
