html,
body {
	height: 100%;
}

* {
	box-sizing: border-box;
	-webkit-transition-timing-function: ease-out;
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
