<div class="header-page">
	<p>There's plenty of ways to get in touch with me. You can message me on Twitter, connect with me on LinkedIn or write me an Internet letter.</p>
	<div class="contactlinks">
		<a class="slidelink contactlinks-link contactlinks-twitter" href="https://twitter.com/minimalmonkey">
			<span class="slidelink-label contactlinks-label" data-label="t">t</span>
		</a><a class="slidelink contactlinks-link contactlinks-linkedin" href="http://www.linkedin.com/pub/stephen-burgess/17/140/767/">
			<span class="slidelink-label contactlinks-label" data-label="i">i</span>
		</a><a class="slidelink contactlinks-link contactlinks-email" href="mailto:steve@minimalmonkey.com">
			<span class="slidelink-label contactlinks-label" data-label="e">e</span>
		</a><a class="slidelink contactlinks-link contactlinks-codepen" href="http://codepen.io/minimalmonkey">
			<span class="slidelink-label contactlinks-label" data-label="c">c</span>
		</a>
	</div>
</div>
