<header class="site-header{% if page.type != 'headerpage' %} is-collapsed{% endif %}">

	<nav class="site-nav">

		<div class="nav-section nav-section-left">
			<a class="slide-link nav-link{% if page.permalink == '/about/' %} is-selected{% endif %}" href="{{ site.baseurl }}/about/">
				<span class="slide-link-label nav-link-label" data-label="About">About</span>
			</a>
		</div><div class="nav-section nav-section-right">
			<a class="slide-link nav-link{% if page.permalink == '/contact/' %} is-selected{% endif %}" href="{{ site.baseurl }}/contact/">
				<span class="slide-link-label nav-link-label" data-label="Contact">Contact</span>
			</a>
		</div>

		<a class="nav-logo" href="{{ site.baseurl }}/"></a>

		{% if site.twitter_username %}
		<div class="follow-link">
			<a href="https://twitter.com/{{site.twitter_username}}" class="twitter-follow-button" data-show-count="false">Follow @{{site.twitter_username}}</a>
			<a href="https://twitter.com/{{site.twitter_username}}" class="twitter-follow-link"></a>
		</div>
		{% endif %}

	</nav>

	<h1 class="header-headline">{{ site.tagline }}</h1>

	<div class="header-page{% if page.permalink != '/about/' %} is-hidden{% endif %}">
		{% include about.html %}
	</div>

	<div class="header-page{% if page.permalink != '/contact/' %} is-hidden{% endif %}">
		{% include contact.html %}
	</div>

</header>
