<header id="siteheader" class="siteheader{% if page.type != 'headerpage' %} is-collapsed{% endif %}">

	<nav class="sitenav">

		<div class="sitenav-section sitenav-leftsection">
			<a class="slidelink sitenavlink{% if page.permalink == '/about/' %} is-selected{% endif %}" href="{{ site.baseurl }}/about/" data-router>
				<span class="slidelink-label sitenavlink-label" data-label="About">About</span>
			</a>
		</div><div class="sitenav-section sitenav-rightsection">
			<a class="slidelink sitenavlink{% if page.permalink == '/contact/' %} is-selected{% endif %}" href="{{ site.baseurl }}/contact/" data-router>
				<span class="slidelink-label sitenavlink-label" data-label="Contact">Contact</span>
			</a>
		</div>

		<a class="sitenavlink-logo" href="{{ site.baseurl }}/{% if paginator %}lab/{% endif %}" aria-label="Home" data-router></a>

		{% if site.twitter_username %}
		<div class="follow-link">
			<a href="https://twitter.com/{{site.twitter_username}}" class="twitter-follow-button sitenavlink" data-show-count="false">@{{site.twitter_username}}</a>
			<a href="https://twitter.com/{{site.twitter_username}}" class="twitter-follow-link"></a>
		</div>
		{% endif %}

	</nav>

	<h1 class="siteheader-headline">{{ site.tagline }}</h1>

	<div id="about-page" class="siteheader-page{% if page.permalink == '/about/' %} is-visible{% endif %}">
		{% include about.html %}
	</div>

	<div id="contact-page" class="siteheader-page{% if page.permalink == '/contact/' %} is-visible{% endif %}">
		{% include contact.html %}
	</div>

</header>
