<header class="siteheader{% if page.type != 'headerpage' %} is-collapsed{% endif %}">

	<nav class="sitenav">

		<div class="sitenav-section sitenav-leftsection">
			<a class="slidelink sitenavlink{% if page.permalink == '/about/' %} is-selected{% endif %}" href="{{ site.baseurl }}/about/">
				<span class="slidelink-label sitenavlink-label" data-label="About">About</span>
			</a>
		</div><div class="sitenav-section sitenav-rightsection">
			<a class="slidelink sitenavlink{% if page.permalink == '/contact/' %} is-selected{% endif %}" href="{{ site.baseurl }}/contact/">
				<span class="slidelink-label sitenavlink-label" data-label="Contact">Contact</span>
			</a>
		</div>

		<a class="sitenavlink-logo" href="{{ site.baseurl }}/" aria-label="Home"></a>

		{% if site.twitter_username %}
		<div class="follow-link">
			<a href="https://twitter.com/{{site.twitter_username}}" class="twitter-follow-button sitenavlink" data-show-count="false">@{{site.twitter_username}}</a>
			<a href="https://twitter.com/{{site.twitter_username}}" class="twitter-follow-link"></a>
		</div>
		{% endif %}

	</nav>

	<h1 class="siteheader-headline">{{ site.tagline }}</h1>

	<div class="siteheader-page{% if page.permalink != '/about/' %} is-hidden{% endif %}">
		{% include about.html %}
	</div>

	<div class="siteheader-page{% if page.permalink != '/contact/' %} is-hidden{% endif %}">
		{% include contact.html %}
	</div>

</header>
