<nav id="sitenav" class="sitenav">

	{% if site.bug_report %}
	<div class="bugreport">
		<a class="bugreport-link sitenavlink" href="{{ site.bug_report }}">Report a bug</a>
	</div>
	{% endif %}

	<div class="sitenav-section sitenav-leftsection">
		<a class="slidelink sitenavlink headernavlink{% if page.permalink == '/about/' %} is-selected{% endif %}" href="{{ site.baseurl }}/about/" data-router>
			<span class="slidelink-label headernavlink-label" data-label="About">About</span>
		</a>
	</div><div class="sitenav-section sitenav-rightsection">
		<a class="slidelink sitenavlink headernavlink{% if page.permalink == '/contact/' %} is-selected{% endif %}" href="{{ site.baseurl }}/contact/" data-router>
			<span class="slidelink-label headernavlink-label" data-label="Contact">Contact</span>
		</a>
	</div>

	<a id="siteheader-logo" class="headernavlink-logo" href="{{ site.baseurl }}/" aria-label="Home"></a>

	{% if site.twitter_username %}
	<div class="follow-link">
		<a href="https://twitter.com/{{site.twitter_username}}" class="twitter-follow-button sitenavlink" data-show-count="false">@{{site.twitter_username}}</a>
		<a href="https://twitter.com/{{site.twitter_username}}" class="twitter-follow-link"></a>
	</div>
	{% endif %}

</nav>
