$contact-links-color-grey:     #cfcfcf;
$contact-links-color-twitter:  #32abdf;
$contact-links-color-linkedin: #1875b2;
$contact-links-color-email:    #e24e4b;
$contact-links-color-codepen:  #72616e;
$contact-link-transition-duration: 0.35s;

.contactlinks {
	font-size: getem(36px);
}

.contactlinks-link {
	width: 1em;
	height: 1em;
	margin: 0.14em 0.154em 0;
	margin: getem(5px, 36px) getem(5.6px, 36px) 0;
	font-family: 'icons';
	line-height: 1em;
	color: $contact-links-color-grey;
	border: 2px solid $contact-links-color-grey;
	border-radius: 1em;
	transform: translate3d(0, 0, 0);
	transition: border $contact-link-transition-duration;
}

.contactlinks-twitter {
	line-height: 0.99em;
	padding-left: 0.01em;

	&:hover {
		border: 2px solid $contact-links-color-twitter;
	}
}

.contactlinks-linkedin {
	padding-left: 0.03em;
	line-height: 0.9em;

	&:hover {
		border: 2px solid $contact-links-color-linkedin;
	}
}

.contactlinks-email {
	padding-right: 0.04em;
	line-height: 0.9em;

	&:hover {
		border: 2px solid $contact-links-color-email;
	}
}

.contactlinks-codepen {
	line-height: 0.92em;

	&:hover {
		border: 2px solid $contact-links-color-codepen;
	}
}

.contactlinks-label {
	transition: transform $contact-link-transition-duration;

	.contactlinks-twitter & {
		font-size: getem(16px, 36px);

		&:after {
			color: $contact-links-color-twitter;
		}
	}

	.contactlinks-linkedin & {
		font-size: getem(19px, 36px);

		&:after {
			color: $contact-links-color-linkedin;
		}
	}

	.contactlinks-email & {
		font-size: getem(19px, 36px);

		&:after {
			color: $contact-links-color-email;
		}
	}

	.contactlinks-codepen & {
		font-size: getem(20.5px, 36px);

		&:after {
			color: $contact-links-color-codepen;
		}
	}
}
