$size: 36px;
$follow-height: 20px;
$follow-width: 156px;
$padding: ($size - $follow-height) * 0.5;
$margin: ($site-nav-height - $size) * 0.5;

.follow-link {
	display: none;
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	width: auto;
	height: $size;
	padding: $padding $margin + $padding $padding 0;
	margin-top: $margin;
	margin-left: -50px;
	text-align: left;
	transform: translate3d(100%, 0, 0);
	transition: transform 0.5s;

	.sitenavlink {
		height: 22px !important; // TODO: investigate why this is needed (why twitter adds wrong height with js)
	}

	.no-js & {
		padding-top: 11px;
		font-weight: 600;
		letter-spacing: 1px;
	}

	&:before {
		position: absolute;
		top: 0;
		left: -$size - $padding;
		width: $size + $padding;
		height: $size;
		background-image: url('/assets/images/larry.svg');
		background-repeat: no-repeat;
		background-size: $size;
		animation: birdflyin-animation 0.2s steps(4) 0 6;
		content: '';
	}

	&:hover,
	&.birdfly {
		transform: translate3d(0, 0, 0);

		&:before {
			animation: birdflyout-animation 0.2s steps(4) 0 8;
		}
	}

	@include breakpoint-mediaquery(horizontal) {
		display: block;
	}
}

.twitter-follow-link {
	display: block;
	position: absolute;
	top: 0;
	left: 3px;
	width: $site-nav-height;
	height: $site-nav-height;
}
