.panels-nav {
	display: block;
	position: relative;
	z-index: 11;
	overflow: hidden;
	width: 100%;
	height: 53px;
	font-family: 'icons';
	font-size: 55px;
	color: #b3b3b3;
	line-height: 1;
	background: white;
	transition: transform 0.35s;

	&:before,
	&:after {
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 1;
		width: 53px;
		height: 100%;
		margin-left: -27px;
		content: "\\";
		transition: transform 0.35s;
	}

	&:before {
		top: -100%;
		color: #999;
	}

	&:hover {
		&:before,
		&:after {
			transform: translateY(100%);
		}
	}

	&.is-loading {
		&:before {
			top: 50%;
			left: 50%;
			width: 30px;
			height: 30px;
			margin: -15px 0 0 -15px;
			border-radius: 30px;
			border-top: 2px solid rgba(0, 0, 0, 0.2);
			border-right: 2px solid rgba(0, 0, 0, 0.2);
			border-bottom: 2px solid rgba(0, 0, 0, 0.2);
			border-left: 2px solid rgba(0, 0, 0, 0.4);
			content: "";
			animation: loadspin 0.7s infinite linear;
		}

		&:after {
			display: none;

			@include breakpoint-mediaquery(horizontal) {
				display: block;
			}
		}

		&:before,
		&:after {
			transform: translateX(-200%);
		}
	}

	&.is-hidden {
		.js & {
			display: none;
		}
	}

	.no-js .is-header & {
		display: none;
	}

	@include breakpoint-mediaquery(horizontal) {
		position: fixed;
		width: 53px;
		right: 0;
		bottom: 0;

		&:before,
		&:after {
			left: 0;
			margin-left: 0;
			content: "/";
		}

		&:before {
			top: 0;
			left: -100%;
		}

		&:hover {
			&:before,
			&:after {
				transform: translateX(100%);
			}
		}

		&.is-hidden {
			.js & {
				display: block;
				transform: translateX(100%);
			}
		}
	}
}
