.sharelink {
	display: inline-block;
	position: relative;
	width: 2em;
	height: 2em;
	margin-left: 0.1em;
	border-radius: 2em;
	color: #fff;
	font-family: 'icons';
	font-size: 17px;
	vertical-align: middle;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
	transform: translate3d(0, 0, 0);
	transition: background 0.3s;
}

.sharelink-label {
	font-size: 1.15em;
}

.sharelink-twitter {
	background-color: $color-twitter;

	&:hover {
		background-color: darken($color-twitter, 7.5);
	}
}

.sharelink-facebook {
	background-color: $color-facebook;

	&:hover {
		background-color: darken($color-facebook, 7.5);
	}
}

.sharelink-pinterest {
	background-color: $color-pinterest;

	&:hover {
		background-color: darken($color-pinterest, 7.5);
	}
}
