.sitenavlink {
	padding-left: 2px;
	border-bottom: 1px solid transparent;
	color: #898989;
	text-decoration: none;
	text-transform: uppercase;

	&.is-selected {
		border-bottom: 1px solid get-color(navy);
		transition: border-bottom 0.3s;

		.is-darktheme & {
			border-bottom: 1px solid white;
		}
	}
}

.sitenavlink-label {
	&:after {
		color: get-color(navy);

		.is-darktheme & {
			color: white;
		}
	}
}

.sitenavlink-logo {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 2;
	width: 24px;
	height: 24px;
	margin: 13px 0 0 -12px;
	color: #000;
	font-family: 'icons';
	font-size: 25px;
	text-decoration: none;
	transform-origin: 50% 100%;
	transition: background-color $header-open-duration;

	.is-darktheme & {
		color: #fff;
	}

	&:hover,
	&.bounce-animation {
		animation: bounce-animation 0.5s 1;
		transform: none;
	}

	&:after {
		position: absolute;
		top: 0;
		left: 0;
		height: 10px;
		width: 10px;
		background: transparent;
		content: 'm';
	}
}
