@function breakpoint($name) {
	@return map-get($breakpoints, $name);
}

@mixin breakpoint-mediaquery($name) {

	$bp: breakpoint($name);
	$from: map-get($bp, from);
	$to: map-get($bp, to);

	@if type-of($from) == "number" and type-of($to) == "number" {
		@media (min-width: $from + 'px') and (max-width: $to + 'px') {
			@content;
		}
	}
	@else if type-of($to) == "number" {
		@media (max-width: $to + 'px') {
			@content;
		}
	}
	@else if type-of($from) == "number" {
		@media (min-width: $from + 'px') {
			@content;
		}
	}
	@else {
		@media screen {
			@content;
		}
	}
}

@function breakpoints-json() {
	$json: "{";
	@each $name, $bp in $breakpoints {
		$bp: breakpoint($name);
		@if map-get($bp, silent) != true {
			$from: map-get($bp, from);
			$to: map-get($bp, to);
			@if type-of($from) != "number" {
				$from: 0;
			}
			@if type-of($to) != "number" {
				$to: "Infinity";
			}
			$json: $json + '"#{$name}":{"from":"#{$from}","to":"#{$to}"},';
		}
	}
	@return str-slice($json, 0, str-length($json) - 1) + "}";
}
