.pagecontent {
	padding-top: $site-nav-height;

	&.is-muted {
		position: relative;
		overflow: hidden;
		height: 100%;
	}
}

.pagecontent-item {
	transform: translate3d(0, 0, 0);

	.is-muted & {
		transform: translate3d(0, $site-header-height - $site-nav-height, 0);
	}
}
