.panels {
	display: block;
	position: relative;
	z-index: 2;
	bottom: 0;
	overflow: hidden;
	width: auto;
	min-width: 100%;
	min-height: 460px;

	&.is-hidden {
		display: none;
	}

	&.is-fadeout {
		opacity: 0;
	}

	.is-transition-fade & {
		transition: opacity 0.4s;
	}

	@include breakpoint-mediaquery(horizontal) {
		display: flex;
		position: absolute;
		top: $site-nav-height;
	}
}
