.panels {
	ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		color: white;
		text-align: center;
	}

	li {
		padding: 10px;
	}
	a {
		font-weight: 600;
		color: white;
		text-decoration: none;
	}
}
