.post {
	position: relative;
	max-width: $post-max-width;
	margin: 0 auto;
	color: #2d2d2d;
	background: #fff;
	transition: opacity 0.35s ease-in-out 0.1s, transform 0.35s ease-in-out 0.1s;

	&:before,
	&:after {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		border-left: 5px solid rgba(0, 0, 0, 0.09);
	}
	&:before {
		left: -5px;
	}
	&:after {
		right: -5px;
	}

	@media (min-width: $bp-show-post-borders) {
		.js .is-intro & {
			opacity: 0;
			transform: translateY(200px);
		}

		&:before,
		&:after {
			content: '';
		}
	}
}
