.post-content {
	max-width: 640px;
	padding: 9px 3% 15px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.5;

	p {
		margin: 25px 0;
	}

	img {
		max-width: 100%;
	}

	a {
		color: #16528e;
		text-decoration: none;
	}

	@media (min-width: $bp-post-content-padding) {
		padding: 9px 0 15px;
	}
}
