.site-header {
	position: fixed;
	top: 0;
	z-index: 10;
	overflow: hidden;
	width: 100%;
	height: $site-header-height;
	text-align: center;
	background-color: #fcfcfc;

	&.is-collapsed {
		height: $site-nav-height;
		background-color: #f3f3f3;
	}
}

.header-headline {
	margin: 29px 0 25px;
	color: $red;
	font-size: 36px;
}

.header-page {
	width: 700px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 1.4;
	color: #696969;

	p {
		margin: 15px 0 25px;
	}

	&.is-hidden {
		display: none;
	}
}
