.siteheader {
	position: fixed;
	top: 0;
	z-index: 11;
	overflow: hidden;
	width: 100%;
	height: $site-header-height;
	font-size: 8px;
	text-align: center;
	background-color: #fcfcfc;
	transform: translate3d(0, 0, 0);
	transition: height $header-open-duration;

	.is-panels & {
		transition: height $header-open-duration, transform 0.35s ease-in-out 0.3s;
	}

	.is-post & {
		transition: height $header-open-duration, transform 0.35s ease-in-out 0.05s;
	}

	&.is-collapsed {
		height: $site-nav-height;
		background-color: #f3f3f3;
	}

	.js .is-intro & {
		transform: translate3d(0, -100%, 0);
	}

	@media (min-width: $bp-stack-width) {
		font-size: 10px;
	}
}

.siteheader-headline {
	margin: getem(8px) 0 getem(7px);
	color: getcolor(red);
	font-size: getem(36px);
}

.siteheader-page {
	display: block;
	position: absolute;
	overflow: hidden;
	width: 0;
	max-width: 700px;
	padding: 0 getem(10px);
	margin: 0 auto;
	opacity: 0;
	font-size: getem(18px);
	line-height: 1.4;
	color: #696969;
	transition: width 0 linear 0.3s, opacity 0.3s;

	p {
		margin: getem(8px) 0 getem(14px);
	}

	&.is-visible {
		width: 100%;
		opacity: 1;
		transition: width 0 linear 0, opacity 0.3s;
	}

	@media (min-width: 700px) {
		left: 50%;
		margin-left: -350px;
	}
}

.siteheader-close {
	display: block;
	position: absolute;
	z-index: 10;
	top: $site-nav-height;
	left: 0;
	background: #000;
	opacity: 0;
	transition: opacity 0.3s;

	.is-muted & {
		right: 0;
		bottom: 0;
		opacity: 0.6;

		&:hover {
			opacity: 0.4;
		}
	}
}
