.siteheader {
	position: fixed;
	top: 0;
	z-index: 11;
	overflow: hidden;
	width: 100%;
	height: $site-header-height - $site-nav-height;
	margin-top: $site-nav-height;
	font-size: 8px;
	text-align: center;
	background-color: $color-header;
	transform: translate3d(0, -($site-header-height - $site-nav-height), 0);
	transition: background-color $header-open-duration, transform $header-open-duration;

	.is-intro &,
	.is-introtransition & {
		display: none;
	}

	.is-header & {
		background-color: $color-headeropen;
		transform: translate3d(0, 0, 0);
	}

	.is-darktheme & {
		background-color: $color-dark-header;
	}

	.is-header.is-darktheme & {
		background-color: $color-dark-headeropen;
	}

	@include breakpoint-mediaquery(horizontal) {
		font-size: 10px;
	}
}

.siteheader-headline {
	margin: convert-to-em(8px) 0 convert-to-em(7px);
	color: get-color(red);
	font-size: convert-to-em(36px);
	transform: translateY($site-header-height - $site-nav-height);
	transition: transform $header-open-duration;

	.is-header & {
		transform: translateY(0);
	}
}

.siteheader-page {
	display: block;
	position: absolute;
	overflow: hidden;
	width: 0;
	max-width: 700px;
	padding: 0 convert-to-em(10px);
	margin: 0 auto;
	opacity: 0;
	font-size: convert-to-em(18px);
	line-height: 1.4;
	color: #696969;
	transform: translateY($site-header-height - $site-nav-height);
	transition: width 0 linear 0.3s, opacity 0.3s, transform $header-open-duration;

	p {
		margin: convert-to-em(8px) 0 convert-to-em(14px);
	}

	&.is-visible {
		width: 100%;
		opacity: 1;
		transition: width 0 linear 0, opacity 0.3s, transform $header-open-duration;
	}

	.is-header & {
		transform: translateY(0);
	}

	.is-darktheme & {
		color: #cfcfcf;
	}

	@media (min-width: 700px) {
		left: 50%;
		margin-left: -350px;
	}
}

.siteheader-close {
	display: block;
	position: fixed;
	z-index: 10;
	top: $site-nav-height;
	bottom: 0;
	left: 0;
	width: 0;
	background: #000;
	opacity: 0;
	transition: width 0 linear 0.3s, opacity 0.3s;

	.is-header & {
		width: 100%;
		opacity: 0.6;
		transition: width 0, opacity 0.3s;

		&:hover {
			opacity: 0.4;
		}
	}
}
