.siteheader {
	position: fixed;
	top: 0;
	z-index: 11;
	overflow: hidden;
	width: 100%;
	height: $site-header-height;
	font-size: 8px;
	text-align: center;
	background-color: #fcfcfc;

	&.is-collapsed {
		height: $site-nav-height;
		background-color: #f3f3f3;
	}

	@media (min-width: $bp-stack-width) {
		font-size: 10px;
	}
}

.siteheader-headline {
	margin: 0.8em 0 0.69em;
	color: getcolor(red);
	font-size: 3.6em;
}

.siteheader-page {
	max-width: 700px;
	padding: 0 1em;
	margin: 0 auto;
	font-size: 1.8em;
	line-height: 1.4;
	color: #696969;

	p {
		margin: 0.84em 0 1.4em;
	}

	&.is-hidden {
		display: none;
	}
}

.siteheader-close {
	.is-muted & {
		display: block;
		position: absolute;
		z-index: 10;
		top: $site-header-height;
		right: 0;
		bottom: 0;
		left: 0;
		background: #000;
		opacity: 0.6;
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.4;
		}
	}
}
