$colors: (
	blue:   #0082c8,
	green:  #167c80,
	lime:   #a2c5bf,
	navy:   #16528e,
	orange: #e8846b,
	purple: #72616e,
	red:    #e54b4b
);

$color-twitter:   #32abdf;
$color-linkedin:  #1875b2;
$color-email:     #e24e4b;
$color-codepen:   #72616e;
$color-facebook:  #3b5998;
$color-pinterest: #c92228;
