<!--

I like cats. But only Internet cats.

  /\___/\
 ( o   o )
 (  =^=  )
 (        )
 (         )
 (          )))))))))))

 Meow.

-->
<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		{% include header.html %}

		<div class="page-content {{ page.color }}{% if page.type == 'headerpage' %} is-muted{% endif %}">

			<a class="site-header-close" href="{{ site.baseurl }}/"></a>

			<div class="wrap">
				{{ content }}
				{% if page.next.url %}
				<a class="post-nav post-nav-next" href="{{page.next.url}}"></a> <!-- &laquo; {{page.next.title}} -->
				{% endif %}
				{% if page.previous.url %}
				<a class="post-nav post-nav-previous" href="{{page.previous.url}}"></a> <!-- {{page.previous.title}} &raquo; -->
				{% endif %}
			</div>

		</div>

		{% include footer.html %}

	</body>
</html>
