@font-face {
	font-family: 'icons';
	src:url('/assets/fonts/icons.eot');
	src:url('/assets/fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/icons.woff') format('woff'),
		url('/assets/fonts/icons.ttf') format('truetype'),
		url('/assets/fonts/icons.svg#icons') format('svg');
	font-style: normal;
	font-weight: normal;
}
